.flex-container {
    margin: 0 auto;
    background-color: #efefef;
    display: flex;
    /* these are defaults but applying anyway*/
    flex-direction: row;
     /*flex-wrap: nowrap;*/
    /*flex-wrap: wrap;*/
    flex-wrap: wrap-reverse;
    max-width: 1200px;
}

.box {
    margin: 10px;
    width: 100px;
}