.flex-container {
    margin: 0 auto;
    background-color: #efefef;
    display: flex;
    /* these are defaults but applying anyway*/
    flex-direction: row;
     /*flex-wrap: nowrap;*/
    flex-wrap: wrap;
    max-width: 1200px;
}

.box {
    margin: 10px;
    text-align: center;
}

.box1 {
    flex: 0 0 200px;
    width: 510px;
    flex-grow: 4;
}

.boxh2 {
    flex: 0 0 768px;
}

/*Main Navigation*/

#main-nav button {
    background: url(../images/burger.svg) center no-repeat;
    border: 0px;
	width: 20px;
	height: 20px;
	transition: all .5s ease;
    margin-top: 15px;
    margin-bottom: 20px;
}

#main-nav button.expanded {
	transform: rotate(90deg);
}

#burger-con {
	margin-top: 20px;
	display: none;
   margin-bottom: 20px;
}

#burger-con.slide-toggle {
    display: block;
}

#book-now-header {
    display: none;
}

#main-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}
#main-nav li a {
	display: block;
	padding: 10px 0 10px 0;
	text-align: center;
	color: darkblue;
}

#main-nav li {
	border-bottom: 1px solid #efefef;
}

#main-nav li:first-child {
	border-top: 1px solid #efefef;
}

#main-nav li:last-child {
	margin-bottom: 10px;
}

#main-nav li a:hover {
	color: goldenrod;
}

#logo {
   margin-bottom: 20px;
   max-width: 288px;
}

/*Hero Image*/

#book-now-hero {
   background-color: darkblue;
   color: gold;
   font-size: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 67px;
   transition: all .3s ease-in-out;
   font-style: italic;
}

#book-now-hero:hover {
   box-shadow: inset 0px -120px 0 0 rgb(0, 0, 300);
}

#hero-main {
   grid-column: 1/-1;
   grid-row:1/1;
   justify-self: center;
   height: 400px;
   width: 768px;
   object-fit: cover;
   object-position: center;
}

#hero .grid-con {
   grid-column: 2/3;
   grid-row:1/1;	
}

#hero-heading-box {
   align-self: end;
}

.hero-img-h2, .hero-img-h3 {
   background: darkblue;
   padding: 10px 15px;
   font-size: 14px;
}

.hero-img-h2 span, .hero-img-h3 span {
   color: gold;
   font-size: 12px;
}

#booking-calendar {
   display: none;
}

.line-seperator {
   margin-top: 20px;
   border-top: solid 3px #CF6666;
   padding-top: 20px;
}

#hero-summary p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .boxh2 {
    order: -1;
    flex: 0 1 1150px;
}

    .box1 {
    flex: 0 0 200px;
    width: 610px;
    flex-grow: 4;
}
   
    #main-nav {
      margin-top: 4%;
      margin-bottom: 4%;
      padding-left: 30px;
    }

    #burger-con {
      font-size: 12px;
    }

   #burger-con ul li, #burger-con ul li:first-child {
      border: none;
      display: inline;
   }

   #main-nav li a {
      display: inline;
   }

   #burger-con ul li {
      margin-right: 10px;
   }

   #burger-con ul li:last-child {
      margin-right: 0;
   }

    #button {
        display: none;
    }

    #book-now-header {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
    }

    #book-now-hero {
      display: none;
   }

    #burger-con {
        display: block;
    }

    #hero-main {
      height: 455px;
      width: 1200px;
   }

    #booking-calendar {
      margin-top: 50px;
      display: block;
      height: 200px;
      background-color: darkblue;
      color: gold;
      padding: 30px 10px 20px 10px;
      border-radius: 5px;
      margin-bottom: 10px;
   }

   #booking-calendar input[type="date"], #booking-calendar input[type="number"] {
      padding: 4px;
      border: 2px solid #d6d6d6;
      background-color: #f7f7f7;
      width: 100%;
      display: block;
      border-radius: 5px;
      margin-bottom: 10px;
   }

   #booking-calendar input[type="submit"] {
      padding: 12px 0 12px 0;
      background-color: #CF6666;
      color: white;
      border: solid 2px #CF6666;
      width: 100%;
      font-size: 12px;
      margin-top: 12px;
      text-align: center;
      border-radius: 5px;
      margin-bottom: 10px;
   }

   #booking-calendar input[type="submit"]:hover {
      border: solid 2px #fff;
      cursor: pointer;
   }

   #booking-calendar h3 {
      font-size: 12px;
      margin-bottom: 10px;
   }

}

@media screen and (min-width: 1000px) {
    
    #burger-con {
      font-size: 16px;
    }

}

@media screen and (min-width: 1200px) {
   .boxh2 {
        order: -1;
        flex: 0 1 1150px;
    }

    .box1 {
    flex: 0 0 200px;
    width: 610px;
    flex-grow: 4;
}
   
    #burger-con {
      font-size: 16px;
   }

   #book-now-header {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
    }

   #burger-con ul li {
      margin-right: 25px;
   }

   #main-nav {
      margin-top: 2%;
      margin-bottom: 2%;
      margin-right: 25px;
   }

   .hero-img-h2, .hero-img-h3 {
      font-size: 24px;
   }

   .hero-img-h2 span, .hero-img-h3 span {
      font-size: 16px;
   }
}